<?xml version="1.0"?>
<model>
  <name>pi_cam</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Nick Stockton</name>
   <email>stocktno@mail.uc.edu</email>
  </author>

  <description>
    Simple analog of the Raspberry Pi camera module (HFOV)
  </description>
</model>
