<launch>
    <!-- image pipeline and apriltags -->
    <include file="$(find irols)/launch/image_pipeline.launch"/>
    <include file="$(find irols)/launch/apriltags_ros.launch"/>

    <!-- estimation nodes -->
	<node pkg="irols" type="vision_estimator.py" name="vision_estimator" output="screen"/>
	<node pkg="irols" type="apriltag_estimator.py" name="apriltag_estimator" output="screen"/>
    <include file="$(find irols)/launch/ekf.launch"/>

    <!-- action servers -->
    <include file="$(find irols)/launch/action.launch"/>
</launch>
