<launch>
	<node pkg="irols" type="vision_estimator.py" name="vision_estimator" output="screen"/>
	<node pkg="irols" type="apriltag_estimator.py" name="apriltag_estimator" output="screen"/>

    <node pkg="rqt_image_view" type="rqt_image_view" name="image_viewer" args="/camera1/image_raw"/>
</launch>
