<launch>
    <!-- MAVROS posix SITL environment launch script -->

    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>
    <arg name="world" default="irols_cam"/>
    <arg name="build" default="posix_sitl_default"/>
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>

    <include file="$(find irols)/launch/posix_sitl_irols.launch">
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="ns" value="$(arg ns)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="build" value="$(arg build)"/>
    </include>

    <include file="$(find irols)/launch/mavros.launch">
        <arg name="ns" value="$(arg ns)"/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
    </include>

    <include file="$(find irols)/launch/irols.launch"/>
</launch>
