<?xml version="1.0"?>

<model>
  <name>Pioneer 3AT with Landing Pad</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nick Stockton</name>
    <email>stocktno@mail.uc.edu</email>
  </author>
  
  <license></license>

  <description>
    Pioneer 3AT Mobile Robot with Skid-Steer Plugin. Attache quadcopter helipad to top.
  </description>
</model>
